<form  [formGroup]="productForm">
    <md-input-container>
        <input mdInput name="ids" type="text" placeholder="id" [formControl]="id" >
        <md-hint></md-hint>
    </md-input-container>
    <md-input-container>
        <input mdInput name="name" type="text" placeholder="Name"  [formControl]="name">
        <md-hint *ngIf="name.errors">Pflichtfeld</md-hint>
    </md-input-container>
    <md-input-container>
        <input mdInput name="price" type="text" placeholder="Preis" [formControl]="price" >
        <md-hint></md-hint>
    </md-input-container>
    <md-input-container>
        <input mdInput name="weight" type="text" placeholder="Gewicht" [formControl]="weight" >
        <md-hint></md-hint>
    </md-input-container>
    <button [disabled]="!productForm.valid" color="primary" md-button (click)="save()">speichern</button>
</form>

{{productFormObject | json}}