<form #productForm="ngForm" >
    <md-input-container>
        <input mdInput name="ids" type="text" placeholder="id" ngModel>
        <md-hint></md-hint>
    </md-input-container>
    <md-input-container>
        <input mdInput name="name" type="text" placeholder="Name" required minlength="2" #tv="ngModel" ngModel>
        <md-hint *ngIf="!tv.valid">Min 2 Zeichen</md-hint>
    </md-input-container>
    <md-input-container>
        <input mdInput name="price" type="text" placeholder="Preis" pattern="[0-9]{0,7}" ngModel>
        <md-hint></md-hint>
    </md-input-container>
    <md-input-container>
        <input mdInput name="weight" type="text" placeholder="Gewicht" ngModel>
        <md-hint></md-hint>
    </md-input-container>
    <button [disabled]="!productForm.valid" color="primary" md-button (click)="save(productForm.value)">speichern</button>
</form>